html {

}
h1{
color:#1565C0;
}
body { 	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.box {	
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width:50px;
	min-height:500px;
	margin-top: -275px;
	margin-left: -330px;	
	background:#FFF;
    	border:1px solid #AAA;
    	border-bottom:3px solid #BBB;		
    	overflow:hidden;
    	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    	font-family: 'Roboto', sans-serif;	
	width: 660px;
	height: 530px;
	
	font-size:13px;	
	overflow:hidden;		
}

.buttons {	
	position: relative;
	text-align: center;
	margin-top: 10px;		
}

.session-picture {
	border-radius: 5px;
	border:2px rgba(80,80,80,0.5) solid;
	width: 24px;
	height: 24px;	
	margin-right: 5px;	
}

.language-picture {
	width: 16px;
	height: 16px;
	margin: 5px;
}

#welcome_message {
	position:absolute;
	margin-left: 42px;
	margin-top: 38px;
	color:#1565C0;
	font-size:large;
}

#clock {
	position:absolute;
	width: 94%;
	text-align: right;
	margin-top: 38px;
	color:#1565C0;
	font-size:large;
}

#message {
	position:absolute;
	margin-left: 359px;
	margin-top: 462px;	
	color:#1565C0;  
	font-size:large;  
}

#right-box {
	position:absolute;		
	margin-left: 305px;
	margin-top: 70px;
	padding:7px;
	width: 305px;
	height: 245px;		
}

#logo {
	color: #3c3c3c;
	position:absolute;|    
}

#lsb {
	color:#1565C0;
	position: absolute;
	width: 100%;
	margin-top: 75px;
	text-align: center;
	font-family: 'Roboto'sans-serif;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url('bg.png');
}

#error {
	position:absolute;
	margin-left: 15px;	
	margin-top: 120px;
	width: 245px;
}

#timed {
	position:absolute;
	margin-left: 15px;	
	margin-top: 120px;
	width: 245px;       
}

#text_img {
	position:absolute;
	margin-left: 0px;
	margin-top: 15px;	  	
}

#form {
	position:absolute;
	margin-left: 325px;
	margin-top: 340px;	  	
}

#label {
	color:#1565C0;
	position:absolute;
	margin-left: 0px;
	margin-top: 0px;
	width: 300px;	  	
	text-align: left;



}
.main-buttons{
	max-width:3em;
	max-height: auto;
	
}

#entry {
	position:absolute;
	margin-left: 24px;
	margin-top: 34px;	
	width: 2300px;
	height:24px;  	
	background:#FFF;
    	border:1px solid #1565C0;
    	border-bottom:3px solid #BBB;		
    	overflow:hidden;
	color:#1565C0;
    	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    	font-family: 'Roboto', sans-serif;	
	width: 230px;
}
#close_button {
	  position:relative;
	  margin-left: 0em;
	  margin-top: 0px;
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: 2px solid rgba(0, 0, 0, .8)
      background-color; #B71C1C:
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn.btn-fab {
  margin: 0;
  padding: 15px;
  font-size: 26px;
  width: 56px;
  height: 56px;
}
.btn.btn-fab,
.btn.btn-fab:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.btn.btn-fab,
.btn.btn-fab:hover,
.btn.btn-fab-default,
.btn.btn-fab:hover-default {
  background-color: transparent;
}
#power_button {
	  position:absolute;
	  margin-left: 8em;
	  margin-top: 0px;
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      border: 2px solid rgba(0, 0, 0, .8)
      background-color; #1565C0;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#power_button1 {
	  position:absolute;
	  margin-left: 12em;
	  margin-top: 0px;
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 150%;
      border: 2px solid rgba(0, 0, 0, .8)
      background-color; #1565C0;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#power_button2 {
	  position:absolute;
	  margin-left: 16em;
	  margin-top: 0px;
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: 150%;
      border: 2px solid rgba(0, 0, 0, .8)
      background-color; #1565C0;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ok_button {
	position:absolute;
	margin-left: 275px;
	margin-top: 30px;
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 2px solid #1565C0;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#buttons {
	position:absolute;
	margin-left: 37px;
	margin-top: 100em;	    
}

#additional_buttons {
	position:absolute;
	margin-left: 37px;
	margin-top: 473px;	    
}

.user-picture {	
	width: 48px;
	height: 48px;
	color:#1565C0;
}

.username {
	font-style: italic;	
	color:#1565C0;
display: inline-block;
  position: relative;
  width: 100%;
  /**************************************************************************/
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.84);
  background: #ffffff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.usergecos {
	font-weight:bold;
	color:#1565C0;
}

.userstatus {
	font-style: italic;
	font-size: 10px;
	color:#1565C0;	
}	

#users {
	color:#1565C0;
	text-align: left;
	width:100%;    	

}

#users tr td {
	align: left;	

}

#users tr {
display: inline-block;
  position: relative;
  width: 100%;
  /**************************************************************************/
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.84);
  background: #ffffff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.normal-user {
	
	border-radius:5px;
}

.selected-user {
	border-radius:5px;
	background: #ffffff;
	color:#000000;
}

#table-wrapper {
	position:absolute;	
	border-radius:5px;
	border:2px #a5a5a5 solid;
	margin-left: 25px;
	margin-top: 70px;
	padding:7px;
	width: 250px;
	height: 328px;		
}

#table-scroll {
  height:325px;
  overflow:auto;    
}

#languages {
	color:#1565C0;
	width: 100%;
	text-align: left;
}

#languages td a {
	color: #3c3c3c;	
}

#sessions {
	color:#1565C0;
	width: 100%;
	text-align: left;
}

#sessions td a {
	color: #3c3c3c;	
}

a {color:#dedede;text-decoration:none;}      /* unvisited link */
a:hover {color:#ffffff;text-decoration:none;}  /* mouse over link */


